  .lists {
    top: 10vh;
    position: relative;
  }

  .wrapper {
    width: 100vw;
    height: 8vh;
    margin: 0 auto;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: #e6e9ed
  }

  .tabs {
    display: table;
    table-layout: fixed;
    width: 100%;
  }

  .tabs li {
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    cursor: pointer;
    color: rgb(78, 73, 73);
    height: 10vh;
    
  }

  .isActive {
    color: violet;
    background-color: white;
  }