/codes/news_recsys/news_rec_web/Vue-newsinfo/node_modules/
/codes/news_recsys/news_rec_server/conf/__pycache__/
/codes/news_recsys/news_rec_server/controller/__pycache__/
/codes/news_recsys/news_rec_server/dao/__pycache__/
/codes/news_recsys/news_rec_server/dao/entity/__pycache__/
/codes/news_recsys/news_rec_server/logs/
/codes/news_recsys/news_rec_server/materials/material_process/__pycache__/
/codes/news_recsys/news_rec_server/materials/news_scrapy/sinanews/__pycache__/
/codes/news_recsys/news_rec_server/materials/news_scrapy/sinanews/spiders/__pycache__/
/codes/news_recsys/news_rec_server/materials/user_process/__pycache__/
/codes/news_recsys/news_rec_server/recprocess/__pycache__/
/codes/news_recsys/news_rec_server/recprocess/recall/__pycache__/