.login-nav {
  margin: 0 0 6em 1rem;
}
/* container */
.login-container {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1px;
  display: block;
  position: relative;
  z-index: 0;
  background-image: url(https://img0.baidu.com/it/u=3564438015,1736378667&fm=26&fmt=auto);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  background-color: black;
  padding: 4rem 4rem 4rem 4rem;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
}

/* 登录和注册的切换 */
.login-nav {
  position: relative;
  padding: 0;
}

.login-nav__item {
  list-style: none;
  display: inline-block;
}

.login-nav__item+.login-nav__item {
  margin-left: 2.25rem;
}

.login-nav__item a {
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: .5rem;
  transition: .20s all ease;
}

.login-nav__item.active a,
.login-nav__item a:hover {
  color: #ffffff;
  transition: .15s all ease;
}

.login-nav__item a:after {
  content: '';
  display: inline-block;
  height: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: 100%;
  bottom: -1px;
  left: 0;
  border-radius: 50%;
  transition: .15s all ease;
}

.login-nav__item a:hover:after,
.login-nav__item.active a:after {
  background-color: rgb(17, 97, 237);
  height: 2px;
  right: 0;
  bottom: 2px;
  border-radius: 0;
  transition: .20s all ease;
}

/* label标签 */
.login__label {
  display: block;
  padding-left: 1rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: 1rem;
}

.login__label {
  margin-top: 1.5rem;
}

/* 提交按钮 */
.login__submit {
  color: #ffffff;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 2rem;
  padding: .75rem;
  border-radius: 2rem;
  display: block;
  width: 100%;
  background-color: rgba(17, 97, 237, .75);
  border: none;
  cursor: pointer;
}

.login__submit:hover {
  background-color: rgba(17, 97, 237, 1);
}

.login__label{
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: .75rem;
  margin-bottom: 1rem;
}

.login__label--checkbox {
  font-size: .75rem;
  margin-bottom: 1rem;
  display: flex;
  position: relative;
  margin-top: 2rem;
}

.login__input--checkbox {
  position: absolute;
  top: .1rem;
  left: 0;
  margin: 0;
}

.login__forgot {
  display: block;
  margin-top: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  font-size: .75rem;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

.login__forgot:hover {
  color: rgb(17, 97, 237);
}

// 去除antd默认表单背景色
.adm-list-body{
  background-color: transparent;
}

// 去除antd默认表单边框
.adm-form{
  --border-inner: none; 
  --border-top: none; 
  --border-bottom: none;
}
// antd input框字体
.adm-input{
  --color:rgba(255, 255, 255, 0.5);
  --placeholder-color:rgba(255, 255, 255, 0.5);
  --font-size: 1.225rem;
}
// antd 单选框字体
.adm-checkbox-content {
  color:rgba(255, 255, 255, 0.5);
}