.profile {
  margin: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.header-color {
  padding-bottom: 150px;
  width: 100vh;
  background: #4f759b;
}

.profile-pic img {
  height: 40vw;
  width: 40vw;
  border-radius: 50%;
  border: 10px solid #ffffff;
  margin-top: -100px;
}

.myself-title {
  margin-bottom: 25px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  color: #131b23;
  margin-bottom: 10px;
  letter-spacing: 0.025em;
}

.description {
  margin-bottom: 25px;
  color: #131b23;
  letter-spacing: 0.01em;
}

.description p:not(:last-child) {
  margin-bottom: 5px;
}

button {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  background: #4f759b;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.025em;
  border: none;
  border-radius: 15px;
  min-height: 35px;
  width: 100px;
  margin-bottom: 25px;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  width: 115px;
  background: #4f759b;
}

.about {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.datawhale {
  font-size: 1.3rem;
  padding: 0 20px 20px 20px;
  text-indent: 2em;
  line-height: 2.4rem;
}

.dwimg {
  width: 150px;
  height: 150px;
  display: block;
  margin: 15px auto 100px auto;
}
