@charset "UTF-8";
/* 标题 */
.newsTitle {
  padding: 3.5rem 1.5rem 0 1.5rem;
}

/* 大标题 */
.newsTitle h1 {
  text-align: center;
  color: #4d4f53;
  font-weight: 600;
  padding: 40px 0 20px 0;
  margin: 0;
  font-size: 1.5rem;
}

/* 副标题 */
.newsTitle p {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #4679e3;
}

/* 内容 距离底部padding 遮挡action */
.newsinfo-continer {
  padding-bottom: 5rem;
  background-color: white;
}

/* 具体内容 */
.content {
  font-size: 1rem;
  padding: 0 20px 20px 20px;
  text-indent: 2em;
  line-height: 2.2rem;
  /* 首行文本缩进 */
  color: #1c1b1d;
}

/* 责任编辑 */
.editor {
  font-size: 1rem;
  padding: 0 20px 0 20px;
  line-height: 2.2rem;
  text-align: end;
}

#action {
  /* margin: 20px 0 20px 0; */
  display: flex;
  justify-content: space-evenly;
}

#action > span {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}

.blank {
  width: 100vw;
  height: 50px;
  position: fixed;
  bottom: 0;
  background-color: white;
}

.block-style {
  display: block;
}

.hide-style {
  display: none;
}
