@import url('https://fonts.googleapis.com/css?family=Noto+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Lato');

#main{
  transition: all 0.6s;
  font-family: 'Lato', sans-serif;
  background: #D4DFE6;
  color: rgba(88, 85, 85, 0.805);
  margin: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

.MainDescription {
  font-size: 1.2rem;
  font-weight: lighter;
  padding: 3rem;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

.MainGraphic {
  position: relative;
}
.Cog {
  width: 10rem;
  height: 10rem;
  fill: #6AAFE6;
  transition: easeInOutQuint();
  animation: CogAnimation 5s infinite;
}

.Hummingbird{
  position: absolute;
  width: 3rem;
  height: 3rem;
  fill: #30A9DE;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);  
}

.err_btn{
	background:#fff;
  color: rgba(88, 85, 85, 0.805);
	border:2px solid #6AAFE6;
	padding:15px 30px;
	border-radius:5px;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	cursor:pointer;
	font-size:13pt;
	transition:background 0.5s;
}

@keyframes CogAnimation {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}