{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-remove-strict-mode",
    [
      "component",
      [
        {
          "libraryName": "mint-ui",
          "style": true
        }
      ]
    ]
  ]
}